:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
html,
body {
  height: 100%;
}
body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Pale-blue);
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
}
.container {
  width: 400px;
  height: 600px;
  margin: 10px;
  background-color: white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  text-align: center;
}
.container > img {
  width: 401px;
}
.container .info {
  padding: 0 30px;
}
.container h2 {
  color: black;
  font-weight: 900;
}
.container p {
  color: var(--Dark-blue);
  font-weight: 500;
}
.container .plan {
  background-color: var(--Very-pale-blue);
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  margin-top: 30px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  grid-template-areas: "music anu anu anu change";
}
@media (max-width:409px) {
  .container .plan {
    grid-template-areas: "music music anu anu change";
  }
}
.container .plan a {
  grid-area: change;
  font-weight: 700;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.container .plan a:hover {
  text-decoration: none;
  color: var(--Bright-blue);
}
.container .plan .anu {
  grid-area: anu;
  margin-left: -90px;
}
.container .plan .anu .anuplan {
  font-weight: 700;
}
.container .plan .anu .price {
  color: var(--Dark-blue);
}
.container .plan img {
  grid-area: music;
}
.container .pay {
  margin-top: 30px;
  background-color: var(--Bright-blue);
  color: white;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 7px 20px #2b0c8f7d;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container .pay:hover {
  background-color: hsl(245, 55%, 59%);
  color: rgb(254, 255, 255);
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.container .cancel {
  padding: 25px;
  color: var(--Desaturated-blue);
  display: block;
  font-weight: 700;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-decoration: none;
}
.container .cancel:hover {
  color: black;
}
